*{
    margin: 0;
    padding: 0;
}
.square-logo{
    border: 2px solid red;
    padding: 5px;
    border-radius: 2px;
}
.circular-logo{
    border: 2px solid red;
    border-radius: 50%;
    padding: 10px;
}