.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#SearchBar{
  padding: 0.5rem 1rem;
  background-color: bisque;
}

.Search{ 
  background-color: aqua;
  
}
.logo{
  font-size: 22px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: yellow;
  color: black;
  padding: 8px;
}
.Header{
  display: flex;
  justify-content: space-around;
  
}
.dark{
  background-color: #282c34;
}
.warning{
  background-color: orange;
}